# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Optional: build/dist folders
dist/
build/

# No hay uploads locales - solo S3

# AWS credentials (development)
.aws/
